<div class="container text-center">
    <header>
        <h1>
            <i class="fa fa-check"></i>
            Sjekk Området
            <i class="fa fa-globe"></i>
        </h1>
    </header>

    <form class="form center-block">
            <div class="input-group">
              {{#if searching}}
                <div class="input-group-addon">
                    <i class="fa fa-cog fa-spin"></i>
                </div>
              {{/if}}
              {{#if failure}}
                <div class="input-group-addon">
                    <i class="fa fa-exclamation text-danger" title="{{failure}}"></i>
                </div>
              {{/if}}
              {{input type="text" value=search action="query" on="enter" placeholder=placeholder class="form-control"}}
                <span {{action 'query'}}
                        class="input-group-addon action">
                    <i class="fa fa-search"></i>
                </span>
              {{#if isGeoEnabled }}
                <span {{action 'geoQuery'}}
                        class="input-group-addon action">
                    <i class="fa fa-map-marker"></i>
                </span>
              {{/if}}
            </div>
    </form>

  {{outlet}}

    <footer>
        <a href="https://github.com/kenglxn/omraadet">
            &copy;2015 <i class="fa fa-github-square"></i>
        </a>
      |
        <a href="https://github.com/kenglxn">@kenglxn</a>
    </footer>
</div>


